* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Indie Flower";
}

body {
    background-size: cover;
    background-image: url(img/petshop_03.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#icon {
    text-align: center;
}

ul a {
    font-family: "Alegreya Sans SC";
    font-weight: normal !important;
}

.text-end {
    font-family: "Alegreya Sans SC";
}


.conteiner {
    position: relative;
}

.conteiner .loader {
    width: 100px;
    height: 100px;
    border: solid 5px #064555;
    border-top: solid 5px #7cd6ec;
    border-radius: 50%;
    animation: loader .8s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.conteiner .message {
    position: absolute;
    color: #7cd6ec;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: message 4s alternate infinite ease-in-out;
}

@keyframes message {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}


.conteiner {
    background: linear-gradient(to right, #f2994a, #6ab48f, #56ccf2); /* Fondo degradado */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    clip-path: circle(70.7% at 50% 50%);
    transition: clip-path 1s ease-in-out;
}

.conteiner2 {
    clip-path: circle(0.0% at 100% 0);
}


table {
    font-family: "Indie Flower";
    text-align: center;
    font-size: 21px;

}

td a {
    text-decoration: underline;
    color: white;
    text-decoration-style: wavy;
}

td a:hover {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

td a:active {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.left {
    text-align: left;
    color: white;
}

th {
    text-align: left;
    font-weight: bold;
}




.container tbody {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    font-family: "Indie Flower";
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white !important;
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.lefta {
    background-color: #ffff98 !important;
    color: black;
}

.leftb {
    color: white;
    background-color: rgba(255, 255, 255, 0.596) !important;
}

.leftc {
    background-color: #ffff51 !important;
    color: black;
}

.leftd {
    background-color: #ffff21 !important;

}

.lefte {
    background-color: #ffc234f1 !important;

}

.leftf {
    background-color: #ff9800 !important;
    color: white;
}

.leftg {
    background-color: #4e67c9 !important;
    color: white;
}

.lefth {
    background-color: #0f1f9b !important;
    color: white;
}

.leftz {
    background-color: #ffff91 !important;
}

.leftx {
    background-color: #ffff70 !important;
}

.lefty {
    background-color: #ffff19 !important;
}

.leftl {
    background-color: #fdbb1ffb !important;
}

.leftk {
    background-color: #ffae34 !important;
    color: white;
}

.leftj {
    background-color: #293bc4 !important;
    color: white;
}

.lefts {
    background-color: #6975d1 !important;
    color: white;
}


footer {
    background: black;
    color: white;
}

#copy {
    text-align: center;
    font-size: 16px;
    opacity: 0.7;
}

#footerbutton {
    margin-left: 10px;
    position: relative;
    left: -20px;
}

#footerbutton2 {
    margin-right: 13px;
}

.table-responsive table {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}